.container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3.625rem;
  max-width: 75rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

@media (min-width: 75rem) {
  .container {
    margin: 0 auto 6rem;
  }
}
