.invalid {
  color: #ff0c00 !important;
  border-color: #ff0c00 !important;
}

.modal > div:nth-child(1) {
  padding: 1rem;
}

.modal > div:nth-child(2),
.modal > div:nth-child(3) {
  padding: 0rem 1rem 1rem 1rem;
}

.modal > div:nth-child(4) {
  display: none; /* disables resizability */
}

/* .form {
  width: 18rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

/* .form {
  width: 18rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

/* .form {
  width: 18rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
