.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 18rem;
  min-height: 22rem;
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 6rem;
}

.radio h4 {
  margin: 0;
  padding: 0;
}

.radio label {
  margin: 0.25rem;
  color: grey;
}

.invalid {
  color: #ff0c00 !important;
  border-color: #ff0c00 !important;
}

.invalid:hover {
  border-color: #ff0c00 !important;
}

.error-message {
  color: #ff0c00;
  font-size: small;
}
