.form {
  min-width: 18rem;
}

.form > div,
.form > div > div,
.form > div > p,
.form > button {
  margin: 0.5rem 0;
}

.form > div > input,
.form > button {
  width: 100%;
}

.form > div h4 {
  margin: 0;
  padding: 0;
}

.form > div label {
  margin: 0 0.25rem;
  color: grey;
}
