.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  width: 100%;
  margin: 0.5rem;
}

.span {
  width: 100%;
  margin: 0.5rem !important;
}

.span > input {
  width: 100%;
}

.button {
  width: 100%;
  margin: 0.5rem !important;
}

@media (min-width: 36rem) {
  .form {
    flex-flow: row;
    justify-content: space-between;
  }

  .dropdown {
    width: 55%;
  }

  .span {
    width: 20%;
  }

  .button {
    width: 20%;
  }
}
