.container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 12rem;
}

.group {
  display: flex;
}

.group > label,
.group > p {
  margin: 0.2rem;
  text-align: center;
  font-size: large;
  font-weight: 700;
}

.group > label {
  color: #3b82f6;
}

.group > p {
  color: grey;
}

.button {
  width: 100% !important;
}

.toggle {
  align-self: center;
  width: 90%;
  border: 0;
  text-align: center;
  cursor: pointer;
}

.color {
  color: #3b82f6;
}

.visible {
  display: flex;
}

@media (min-width: 50rem) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin: 0.5rem;
  }

  .group {
    flex-direction: column;
  }

  .button {
    width: 3rem !important;
  }

  .toggle {
    display: none;
  }
}

@media (min-width: 64rem) {
  .group {
    flex-direction: row;
  }
}
