.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.group {
  display: flex;
}

.group > label,
.group > p {
  margin: 0.2rem;
  text-align: center;
  font-size: large;
  font-weight: 700;
}

.group > label {
  color: grey;
}

.group > p {
  color: lightseagreen;
}

.button {
  width: 100% !important;
}

@media (min-width: 36rem) {
  .container {
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
  }

  .group {
    flex-direction: column;
  }

  .button {
    width: 3rem !important;
  }
}

@media (min-width: 64rem) {
  .group {
    flex-direction: row;
  }
}
