.button {
  margin: 0.5rem !important;
}

.input {
  width: 75% !important;
  margin: 0.25rem !important;
  padding: 0.25rem !important;
}

.deletion-button {
  width: 2rem !important;
  height: 2rem !important;
  border: 0 none !important;
  border-radius: 50% !important;
  color: #6c757d !important;
  background: transparent !important;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s !important;
}
