.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  margin: 0.5rem 0.5rem 0;
  border: solid #dee2e6;
  border-width: 0 0 1px 0;
  padding: 0 0.5rem 0 2rem;
  background-color: #f8f9fa;
  font-weight: 700;
}

.container > label {
  display: none;
  color: #2563eb;
}

.content {
  display: flex;
}

@media (min-width: 20rem) {
  .container > label {
    display: block;
  }

  .container {
    justify-content: space-between;
  }
}
