.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem 0.5rem 0;
	border: solid #dee2e6;
	border-width: 0 0 1px 0;
	padding: 0 0.5rem;
	background-color: #f8f9fa;
	font-weight: 700;
}

.container > label {
	font-size: 1.25rem;
	color: black;
}

.content {
	display: flex;
}

.content > button {
	margin: 0 0.5rem !important;
}

@media (min-width: 25rem) {
	.container {
		flex-direction: row;
		height: 3rem;
		padding: 0 0.5rem 0 2rem;
	}
}
